<h1>Editar Paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= link_to "Mostrar esse paciente", @paciente %>
  <%= link_to "Voltar aos pacientes", pacientes_path %>
  <%= link_to "Voltar a Página inicial", root_path %>
</div>
