<h1>Novo Paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= link_to "Voltar a lista de pacientes", pacientes_path %>
  <%= link_to "Voltar a Página inicial", root_path %>
</div>


