<h1>Editar Consulta</h1>

<%= render "form", consultum: @consultum %>

<br>

<div>
  <%= link_to "Mostrar essa consulta", @consultum %>
  <%= link_to "Voltar a consultas", consulta_path %>
  <%= link_to "Voltar a Página inicial", root_path %>
</div>
