<h1>Editar Médico</h1>

<%= render "form", medico: @medico %>

<br>

<div>
  <%= link_to "Selecionar Médico", @medico %>
  <%= link_to "Voltar a lista de Médicos", medicos_path %>
  <%= link_to "Voltar a Página inicial", root_path %>
</div>
