<h1>Editing medico</h1>

<%= render "form", medico: @medico %>

<br>

<div>
  <%= link_to "Mostrar esse Médico", @medico %>
  <%= link_to "Voltar aos Médicos", medicos_path %>
  <%= link_to "Voltar a Página inicial", root_path %>
</div>
